* {
  box-sizing: border-box;
}

body {
  margin-top: 3rem;
  color: #252525;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  display: block;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.content {
  display: flexbox;
}
